{% extends 'main.html' %}

{% block login %}
    <h1 class="page-header"><i class="fa fa-sign-in fa-fw"></i>Вход</h1>
    <form role="form" novalidate action="/auth/login/" method="post">
        {% csrf_token %}
        <fieldset>
            <div class="form-group">
                <input class="form-control" placeholder="E-mail" name="username" type="email" autofocus>
            </div>
            <div class="form-group">
                <input class="form-control" placeholder="Password" name="password" type="password" value="">
            </div>
            <input type="submit" class="btn btn-primary" value="Войти">
        </fieldset>
    </form>
{% endblock %}