{% extends 'main.html' %}

{% block login %}
    <h1 class="page-header"><i class="fa fa-sign-in fa-fw"></i>Регистрация</h1>
        <form action="/auth/register/" method="post" novalidate>
            {% csrf_token %}
            {{ form }}
            <input type="submit" class="button" value="Зарегистрироваться">
        </form>
{% endblock %}