{% extends 'main.html' %}

{% block content %}
    <h1 class="page-header"><i class="fa fa-question-circle fa-fw"></i>Справочная информация</h1>
    <ol>
    {% for form in lf %}
        <li>
            <a href="/forms/form1/">Как заполнить {{ form.name }}</a>
        </li>
    {% endfor %}
    </ol>
{% endblock %}