<li>
    <a href="#"><i class="fa fa-users fa-fw"></i> Для бизнеса<span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
        {% for form in lf %}
            {% if form.business %}
            <li>
                <a href="/forms/{{ form.table_name }}/create_form/"><i class="fa fa-file-o fa-fw"></i> {{ form.name }}</a>
            </li>
            {% endif %}
        {% endfor %}
    </ul>
</li>
<li>
    <a href="#"><i class="fa fa-user fa-fw"></i> Для частных лиц<span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
        {% for form in lf %}
            {% if not form.business %}
            <li>
                <a href="/forms/{{ form.table_name }}/create_form/"><i class="fa fa-file-o fa-fw"></i> {{ form.name }}</a>
            </li>
            {% endif %}
        {% endfor %}
    </ul>
</li>