{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Формы</title>
    <link rel="icon" href="{% static "css/favicon.ico" %}" type="image/x-icon">
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/metisMenu.min.css" %}" rel="stylesheet">
    <link href="{% static "css/startmin.css" %}" rel="stylesheet">
    <link href="{% static "css/font-awesome.min.css" %}" rel="stylesheet">
    <link href="{% static "css/print.css" %}" rel="stylesheet">
</head>
<body>
<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">ФОРМЫ</a>
        </div>

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <ul class="nav navbar-nav navbar-left navbar-top-links">
            <li><a href="/help/"><i class="fa fa-question-circle fa-fw"></i> Справка</a></li>
            <li><a href="/contacts/"><i class="fa fa-envelope fa-fw"></i> Обратная связь</a></li>
            <li><a href="/about/"><i class="fa fa-info-circle fa-fw"></i> О проекте</a></li>
        </ul>

        <ul class="nav navbar-right navbar-top-links">

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> {{ username }} <b class="caret"></b>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    {% if username %}
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> Профиль</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Настройки</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="/auth/logout/"><i class="fa fa-sign-out fa-fw"></i> Выйти</a>
                        </li>
                    {% else %}
                        <li><a href="/auth/register/"><i class="fa  fa-edit fa-fw"></i> Регистрация</a></li>
                        <li class="divider"></li>
                        <li><a href="/auth/login/"><i class="fa fa-sign-in fa-fw"></i> Вход</a></li>

                    {% endif %}
                </ul>
            </li>
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="-side-menu">
                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Найти...">
                            <span class="input-group-btn">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fa fa-search"></i>
                                        </button>
                                </span>
                        </div>
                    </li>
                    {% if username %}
                        <li>
                            <a href="/forms/logforms/"><i class="fa fa-files-o fa-fw"></i> Журнал документов</a>
                        </li>
                    {% endif %}
                    {% include "listform.html" %}
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    {% block content %}{% endblock %}
                    {% block form %}{% endblock %}
                    {% block create %}{% endblock %}
                    {% block contacts %}{% endblock %}
                    {% block thanks %}{% endblock %}
                    {% block login %}{% endblock %}
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->

</div>

<script src="{% static  "js/jquery.min.js" %}"></script>
<script src="{% static  "js/bootstrap.min.js" %}"></script>
<script src="{% static  "js/metisMenu.min.js" %}"></script>
<script src="{% static  "js/startmin.js" %}"></script>
<script src="{% static  "js/print.js" %}"></script>
</body>
</html>
