{% extends 'main.html' %}
{% load widget_tweaks %}
{% block create %}
    <h4 class="page-header">Создание новой формы</h4>

    <form action="/form1/{{ var }}/" method="post" novalidate>
        {% csrf_token %}

        {% for field in form.visible_fields %}
            {% if form.is_bound %}
                {% if field.errors %}
                    <div class="form-group has-error">
                {% else %}
                    <div class="form-group has-success">
                {% endif %}
            <label class="control-label">{{ field.label_tag }}</label>
            {% render_field field class="form-control" %}
            {% for error in field.errors %}
                <small class="control-label">{{ error }}</small>
                </div>
            {% endfor %}
            {% else %}
                <div class="form-group">
                    <label class="control-label">{{ field.label_tag }}</label>
                    {% render_field field class="form-control" %}
                    {% if field.help_text %}
                        <small class="control-label">{{ field.help_text }}</small>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
        {% if user.is_authenticated %}
            <input type="submit" class="btn btn-primary" value="Сохранить">
        {% endif %}
        <button type="button" class="btn btn-primary">Печать</button>
    </form>
{% endblock %}