{% extends 'main.html' %}
{% load staticfiles %}

{% block form %}
    <h1 class="page-header">Журнал формы</h1>
    <p>Список документов</p>
    <div class="col-sm-12 hidden-print">
        <a href="/form1/create_form/" class="btn btn-primary" title="создать новую форму"><i class="fa fa-plus"></i></a>
        <a href="/form1/_printf" class="btn btn-success print" title="распечатать реестр документов"><i class="fa fa-print"></i></a>
    </div>
    <div class="col-sm-12">
    <hr>
    </div>
    <div class="col-sm-12">
        <table class="table table-striped table-bordered table-hover dataTable no-footer">
            <thead>
            <tr role="row">
                <th>№</th>
                <th>Дата</th>
                <th>Наименование</th>
                <th>Примечание</th>
            </tr>
            </thead>
            <tbody>
            {% for form in logform %}
                <tr>
                    <td>{{ form.number }}</td>
                    <td>{{ form.date }}</td>
                    <td>{{ form.title }}</td>
                    <td>{{ form.text }}</td>
                    <td class="hidden-print">
                        <a href="/form1/delete_form/{{ form.id }}/" class="btn btn-danger" title="удалить документ"><i class="fa fa-times"></i></a>
                        <a href="/form1/edit_form/{{ form.id }}/" class="btn btn-warning" title="редактировать документ"><i class="fa fa-pencil"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}